DOMAIN=pospoojamedico.in
POSTGRES_DB=pharmaspot
POSTGRES_USER=pharmaspot
POSTGRES_PASSWORD=replace_with_a_long_random_hex_value
SESSION_SECRET=replace_with_a_different_long_random_hex_value
OWNER_USERNAME=owner
OWNER_PASSWORD=replace_with_a_unique_password_at_least_12_characters
OWNER_NAME=PharmaSpot Owner